<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.xmu.crms.mapper.AdminMapper" >

    <select id="getAdminByAdminAccount" parameterType="String" resultType="Admin">
        SELECT id id, account username, password password FROM admin WHERE account = #{username}
    </select>

</mapper>
