<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.xmu.crms.dao.CourseDao" >

    <select id="getCourseByCourseID"  resultType="Course" parameterType="BigInteger">
        SELECT * FROM course WHERE id = #{id}
    </select>

    <select id="listCourseIDByTeacherID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT course_id FROM teacher_course WHERE teacher_id = #{id}
    </select>

    <select id="listCourseIDByStudentID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT course_id FROM student_course WHERE student_id = #{id}
    </select>
</mapper>
