<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.xmu.crms.mapper.CourseMapper" >

    <resultMap id="courseMap" type="Course">
        <id property="id" column="id"/>
        <result property="courseName" column="course_name"/>
        <result property="introduction" column="introduction"/>
        <result property="presentationPercentage" column="presentation_percentage"/>
        <result property="questionPercentage" column="question_percentage"/>
        <result property="reportPercentage" column="report_percentage"/>
        <result property="teamStartTime" column="team_start_time"/>
        <result property="teamEndTime" column="team_end_time"/>
        <result property="teamMainCourseID" column="team_main_course_id"/>
        <result property="seminarMainCourseID" column="seminar_main_course_id"/>
        <association property="teacher" javaType="Teacher">
            <id property="id" column="teacher_id"/>
            <result property="username" column="account"/>
            <result property="name" column="teacher_name"/>
        </association>
    </resultMap>

    <!--根据studentID获取course对象列表-->
    <select id="listCoursesByStudentID"  resultMap="courseMap" parameterType="BigInteger">
        SELECT * FROM klass_student,course
        WHERE course.id = klass_student.course_id
        AND klass_student.student_id = #{studentID}
    </select>

    <!--根据teacherID获取course对象列表-->
    <select id="listCoursesByTeacherID"  resultMap="courseMap" parameterType="BigInteger">
        SELECT * FROM course,teacher
        WHERE teacher.id = #{teacherID}
        AND course.teacher_id = #{teacherID}
    </select>

    <!--根据courseID获取course对象-->
    <select id="getCourseByCourseID"  resultMap="courseMap" parameterType="BigInteger">
        SELECT * FROM course,teacher WHERE course.id = #{courseID} AND course.teacher_id = teacher.id
    </select>

    <!--根据courseID获取course最少人数限制-->
    <select id="getCourseMinMemberByCourseID"  resultType="Integer" parameterType="BigInteger">
        SELECT min_member FROM member_limit_strategy,team_strategy,team_and_strategy
        WHERE team_strategy.course_id = #{courseID}
        AND team_strategy.strategy_name = 'TeamAndStrategy'
        AND team_strategy.strategy_id = team_and_strategy.id
        AND team_and_strategy.strategy_name = 'MemberLimitStrategy'
        AND team_and_strategy.strategy_id = member_limit_strategy.id;
    </select>

    <!--根据courseID获取course最多人数限制-->
    <select id="getCourseMaxMemberByCourseID"  resultType="Integer" parameterType="BigInteger">
        SELECT max_member FROM member_limit_strategy,team_strategy,team_and_strategy
        WHERE team_strategy.course_id = #{courseID}
        AND team_strategy.strategy_name = 'TeamAndStrategy'
        AND team_strategy.strategy_id = team_and_strategy.id
        AND team_and_strategy.strategy_name = 'MemberLimitStrategy'
        AND team_and_strategy.strategy_id = member_limit_strategy.id;
    </select>

    <!--根据courseID在共享组队表获取subCourseID-->
    <select id="listSubCoursesIDByCourseID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT sub_course_id FROM share_team_application WHERE main_course_id = #{courseID} AND status = 1
    </select>

    <!--根据teamID查询courseID-->
    <select id="getCourseIDByTeamID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT course_id FROM team WHERE id = #{teamID}
    </select>

    <!--根据courseID在共享组队表获取mainCourseID-->
    <select id="listMainCoursesIDByCourseID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT main_course_id FROM share_team_application WHERE sub_course_id = #{courseID} AND status = 1
    </select>

    <!--根据main和subCourseID在共享组队表获取shareID-->
    <select id="getTeamShareIDByMainAndSubCourseID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT id FROM share_team_application WHERE main_course_id = #{param1} AND sub_course_id = #{param2}
    </select>

    <!--根据课程ID获得计算成绩的权值-->
    <select id="getScoreWeightByCourseID" parameterType="BigInteger" resultType="HashMap">
        SELECT presentation_percentage presentationPercentage,question_percentage questionPercentage,
        report_percentage reportPercentage FROM course WHERE id = #{courseID}
    </select>

    <!--用course对象插入course表-->
    <insert id="insertCourse" parameterType="Course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO course(teacher_id,course_name,introduction,presentation_percentage,question_percentage,
        report_percentage,team_start_time,team_end_time)
        VALUE (#{teacher.id},#{courseName},#{introduction},#{presentationPercentage},#{questionPercentage},#{reportPercentage},#{teamStartTime},#{teamEndTime})
    </insert>


    <!--根据klassID获取courseID-->
    <select id="getCourseIDByKlassID" resultType="BigInteger" parameterType="BigInteger">
        SELECT course_id FROM klass WHERE id = #{id};
    </select>

    <!--根据courseID删除course表内信息-->
    <delete id="deleteCourseByCourseID" parameterType="BigInteger">
        DELETE FROM course WHERE id = #{courseID}
    </delete>

    <!--根据courseID删除与course有关表的信息-->
    <delete id="deleteConflictCourseStrategyByCourseID" parameterType="BigInteger">
        DELETE FROM conflict_course_strategy WHERE course_id = #{courseID}
    </delete>
    <delete id="deleteKlassByCourseID" parameterType="BigInteger">
        DELETE FROM klass WHERE course_id = #{courseID}
    </delete>
    <delete id="deleteKlassStudentByCourseID" parameterType="BigInteger">
        DELETE FROM klass_student WHERE course_id = #{courseID}
    </delete>
    <delete id="deleteRoundByCourseID" parameterType="BigInteger">
        DELETE FROM round WHERE course_id = #{courseID}
    </delete>
    <delete id="deleteSeminarByCourseID" parameterType="BigInteger">
        DELETE FROM seminar WHERE course_id = #{courseID}
    </delete>
    <delete id="deleteTeamStrategyByCourseID" parameterType="BigInteger">
        DELETE FROM team_strategy WHERE course_id = #{courseID}
    </delete>

    <!--返回上一条插入语句的ID-->
    <select id="getLastInsertID" resultType="BigInteger">
        SELECT LAST_INSERT_ID();
    </select>

    <!--根据courseID查找courseName-->
    <select id="getCourseNameByCourseID" resultType="String" parameterType="BigInteger">
        SELECT course_name FROM course WHERE id = #{courseID}
    </select>

    <!--更新课程的组队共享主课程-->
    <update id="updateTeamMainCourseID" parameterType="BigInteger">
        UPDATE course SET team_main_course_id = #{param1} WHERE id = #{param2}
    </update>

    <!--更新课程的讨论课共享主课程-->
    <update id="updateSeminarMainCourseID" parameterType="BigInteger">
        UPDATE course SET seminar_main_course_id = #{param1} WHERE id = #{param2}
    </update>

    <!--删除从课程中的共享分组主课程信息-->
    <update id="deleteTeamMainCourseID" parameterType="BigInteger">
        UPDATE course SET team_main_course_id = null WHERE id = #{courseID}
    </update>

    <select id="listAllCourse" resultMap="courseMap">
        SELECT course.id,teacher_id,course_name,teacher.account,teacher.teacher_name FROM teacher,course WHERE teacher.id = course.teacher_id
    </select>
</mapper>
