<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.xmu.crms.dao.DeadlineDao" >

    <select id="getCourseDeadlineByID"  resultType="Deadline" parameterType="BigInteger">
        SELECT * FROM deadline WHERE id = #{id}
    </select>

    <select id="getDeadlineIDByCourseID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT deadline_id FROM course_deadline WHERE course_id = #{id}
    </select>
</mapper>
