<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.xmu.crms.mapper.KlassMapper" >

    <!--根据studentID和courseID获取klassID-->
    <select id="getKlassIDByStudentAndCourseID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT klass_id FROM klass_student WHERE student_id = #{param1} AND course_id = #{param2}
    </select>

    <!--根据klassID获取Klass对象-->
    <select id="getKlassByKlassID"  resultMap="klassMap" parameterType="BigInteger">
        SELECT * FROM klass,course WHERE klass.id = #{klassID} AND klass.course_id = course.id
    </select>

    <!--根据courseID获取KlassID列表-->
    <select id="listKlassIDByCourseID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT id FROM klass WHERE course_id = #{courseID}
    </select>

    <!--根据seminarID获取KlassID列表-->
    <select id="listKlassIDBySeminarID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT klass_id FROM klass WHERE seminar_id = #{seminarID}
    </select>

    <!--根据teamID查询klassID-->
    <select id="getKlassIDByTeamID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT klass_id FROM team WHERE id = #{teamID}
    </select>

    <!--用klass对象插入klass表-->
    <insert id="insertKlassByKlass" parameterType="Klass">
        insert into klass(course_id,grade,klass_serial,klass_time,klass_location)
        VALUE (#{courseID},#{grade},#{klassSerial},#{klassTime},#{klassLocation})
    </insert>

    <!--根据klassID删除klass表内信息-->
    <delete id="deleteKlassByKlassID" parameterType="BigInteger">
        DELETE FROM klass WHERE id = #{klassID}
    </delete>

    <!--根据klassID删除与klass有关表的信息-->
    <delete id="deleteKlassRoundByKlassID" parameterType="BigInteger">
        DELETE FROM klass_round WHERE klass_id = #{klassID}
    </delete>
    <delete id="deleteKlassSeminarByKlassID" parameterType="BigInteger">
        DELETE FROM klass_seminar WHERE klass_id = #{klassID}
    </delete>
    <delete id="deleteKlassStudentByKlassID" parameterType="BigInteger">
        DELETE FROM klass_student WHERE klass_id = #{klassID}
    </delete>
    <delete id="deleteKlassInTeamByKlassID" parameterType="BigInteger">
        DELETE FROM team WHERE klass_id = #{klassID}
    </delete>

</mapper>
