<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.xmu.crms.mapper.KlassMapper" >

    <!--返回的klassMap-->
    <resultMap id="klassMap" type="Klass">
        <id property="id" column="id"/>
        <result property="grade" column="grade"/>
        <result property="klassSerial" column="klass_serial"/>
        <result property="klassTime" column="klass_time"/>
        <result property="klassLocation" column="klass_location"/>
        <association property="course" javaType="Course">
            <id property="id" column="course_id"/>
            <result property="courseName" column="course_name"/>
            <result property="introduction" column="introduction"/>
        </association>
    </resultMap>

    <!--根据studentID和courseID获取klass对象-->
    <select id="getKlassByStudentAndCourseID"  resultMap="klassMap" parameterType="BigInteger">
        SELECT * FROM klass,course,klass_student
        WHERE klass_student.klass_id = klass.id
        AND klass_student.student_id = #{param1}
        AND klass_student.course_id = #{param2}
        AND course.id = #{param2}
    </select>

    <!--根据klassID获取Klass对象-->
    <select id="getKlassByKlassID"  resultType="Klass" parameterType="BigInteger">
        SELECT * FROM klass WHERE id = #{klassID}
    </select>

    <!--根据courseID获取KlassID列表-->
    <select id="listKlassIDByCourseID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT id FROM klass WHERE course_id = #{courseID}
    </select>

    <!--根据seminarID获取Klass列表-->
    <select id="listKlassesBySeminarID"  resultMap="klassMap" parameterType="BigInteger">
        SELECT * FROM klass,klass_seminar WHERE klass.id = klass_seminar.klass_id
        AND klass_seminar.seminar_id = #{seminarID}
    </select>

    <!--根据teamID查询klassID-->
    <select id="getKlassIDByTeamID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT klass_id FROM team WHERE id = #{teamID}
    </select>

    <!--用klass对象插入klass表-->
    <insert id="insertKlassByKlass" parameterType="Klass">
        insert into klass(course_id,grade,klass_serial,klass_time,klass_location)
        VALUE (#{courseID},#{grade},#{klassSerial},#{klassTime},#{klassLocation})
    </insert>

    <!--根据klassID删除klass表内信息-->
    <delete id="deleteKlassByKlassID" parameterType="BigInteger">
        DELETE FROM klass WHERE id = #{klassID}
    </delete>

    <!--根据klassID删除与klass有关表的信息-->
    <delete id="deleteKlassRoundByKlassID" parameterType="BigInteger">
        DELETE FROM klass_round WHERE klass_id = #{klassID}
    </delete>
    <delete id="deleteKlassSeminarByKlassID" parameterType="BigInteger">
        DELETE FROM klass_seminar WHERE klass_id = #{klassID}
    </delete>
    <delete id="deleteKlassStudentByKlassID" parameterType="BigInteger">
        DELETE FROM klass_student WHERE klass_id = #{klassID}
    </delete>
    <delete id="deleteKlassInTeamByKlassID" parameterType="BigInteger">
        DELETE FROM team WHERE klass_id = #{klassID}
    </delete>

    <!--插入班级学生关系表-->
    <insert id="insertStudentKlass" parameterType="java.util.Map">
        INSERT INTO klass_student(klass_id, student_id, course_id)
        VALUES
        <foreach collection="studentIDList" item="id" index="index" separator=",">
            (#{klassID}, #{id}, #{courseID})
        </foreach>
    </insert>
</mapper>
