<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.xmu.crms.mapper.StudentMapper" >

    <!--根据studentID获取student对象-->
    <select id="getStudentByStudentID"  resultType="Student" parameterType="BigInteger">
        SELECT id id,account username,password password,is_active beActive,student_name name,email email
        FROM student WHERE id = #{studentID}
    </select>

    <!--根据courseID获取未组队学生ID列表-->
    <select id="listNoTeamStudentsIDByCourseID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT DISTINCT student_id FROM klass_student WHERE student_id NOT IN (
        SELECT team_student.student_id FROM team_student,klass_team WHERE
        klass_team.team_id = team_student.team_id AND klass_team.klass_id IN (
        SELECT klass_student.klass_id FROM klass_student,klass_team WHERE klass_student.klass_id =klass_team.klass_id
        AND klass_student.course_id = #{courseID} )
        ) AND klass_student.course_id = #{courseID}
    </select>

    <!--根据courseID获取未组队学生列表-->
    <select id="listNoTeamStudentsByCourseID" resultType="Student" parameterType="BigInteger">
        SELECT id id,account username,student_name name FROM student WHERE id IN (
        SELECT DISTINCT student_id FROM klass_student WHERE klass_student.course_id = #{courseID} AND student_id NOT IN (
        SELECT team_student.student_id FROM team_student,klass_team WHERE
        klass_team.team_id = team_student.team_id AND klass_team.klass_id IN (
        SELECT klass_student.klass_id FROM klass_student,klass_team WHERE klass_student.klass_id =klass_team.klass_id
        AND klass_student.course_id = #{courseID} )))
    </select>

    <!--获取所有学生对象√-->
    <select id="listAllStudents" resultType="Student">
        SELECT id id,account username,password password,is_active beActive,student_name name,email email
        FROM student
    </select>

    <!--修改某个学生的信息（邮箱）-->
    <update id="updateStudentInfoByStudent" parameterType="Student">
        UPDATE student SET email = #{email} WHERE  id = #{id}
    </update>

    <!--重置某个学生的密码-->
    <update id="resetStudentPasswordByStudentID" parameterType="BigInteger">
        UPDATE student SET password = 123456 WHERE id = #{studentID}
    </update>

    <!--根据studentID删除student表内信息-->
    <delete id="deleteStudentByStudentID" parameterType="BigInteger">
        DELETE FROM student WHERE id = #{studentID}
    </delete>


    <!--激活某个学生的账号-->
    <update id="updateStudentActiveByStudent" parameterType="Student">
        UPDATE student SET is_active = 1, password = #{password}, email = #{email} WHERE  id = #{id}
    </update>

    <!--根据teamID查询leaderID-->
    <select id="getLeaderIDByTeamID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT leader_id FROM team WHERE id = #{teamID}
    </select>

    <!--根据学号获取学生对象-->
    <select id="getStudentByStudentAccount" parameterType="String" resultType="Student">
        SELECT id id, account username, password password, is_active beActive, email email FROM student WHERE account = #{username}
    </select>

    <!--插入一个Student信息-->
    <insert id="insertStudent" parameterType="User">
        INSERT INTO student(account,password,student_name,is_active)
            VALUE (#{username},#{password},#{name},0)
    </insert>

    <!--插入学生列表-->
    <insert id="insertStudentList" parameterType="java.util.List">
        INSERT IGNORE INTO student(account, password, is_active, student_name)
        VALUES
        <foreach collection ="list" item="student" index= "index" separator=",">
                (#{student.username}, #{student.password}, #{student.beActive}, #{student.name})
        </foreach >
    </insert>

    <!--根据学号列表获取id列表-->
    <select id="listStudentID" parameterType="java.util.List" resultType="BigInteger">
        SELECT id FROM student WHERE account in
            <foreach collection="list" item="student" index="index" open="(" separator="," close=")">
                #{student.username}
            </foreach>
    </select>
    
    <!--获取一个小组的所有成员-->
    <select id="listMembersByTeamID" resultType="Student" parameterType="BigInteger">
        SELECT id id,account username,password password,is_active beActive,student_name name,email email FROM student,
        team_student WHERE student.id = team_student.student_id AND team_student.team_id = #{teamID}
    </select>

    <!--获取一个小组的选了这门课的成员-->
    <select id="listMembersByTeamAndCourseID" resultType="Student" parameterType="BigInteger">
        SELECT id id,account username,password password,is_active beActive,student_name name,email email FROM student,
                                                                                                              team_student,klass_student WHERE student.id = team_student.student_id AND team_student.team_id = #{param1}
                                                                                                                                           AND klass_student.student_id = student.id AND klass_student.course_id = #{param2}
    </select>

    <!--修改学生密码-->
    <update id="updateStudentPassword" parameterType="User">
        UPDATE student SET password = #{password} WHERE id = #{id}
    </update>

    <!--查看学生是否有选某课程-->
    <select id="getIDByStudentAndCourseID" resultType="BigInteger" parameterType="BigInteger">
        SELECT klass_id FROM klass_student WHERE klass_student.student_id = #{param1}
        AND klass_student.course_id = #{param2}
    </select>

    <!--根据ID查询密码-->
    <select id="getPasswordByID" parameterType="BigInteger" resultType="String">
        SELECT password FROM student WHERE id = #{id}
    </select>
</mapper>
