<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.xmu.crms.mapper.TeacherMapper" >

    <!--根据teacherID获取Teacher对象-->
    <select id="getTeacherByTeacherID"  resultType="Teacher" parameterType="BigInteger">
        SELECT id id,account username,password password,teacher_name name, is_active beActive, email email
        FROM teacher WHERE id = #{teacherID}
    </select>

    <!--根据courseID获取teacherID-->
    <select id="getTeacherIDByCourseID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT teacher_id FROM course WHERE id = #{courseID}
    </select>

    <!--插入一个Teacher信息-->
    <insert id="insertTeacher" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO teacher(account,password,teacher_name,email,is_active)
        VALUE (#{username},123456,#{name},#{email},0)
    </insert>

    <!--查询所有email-->
    <select id="listAllEmails" resultType="String">
        SELECT email FROM teacher
    </select>

    <!--获取所有教师对象-->
    <select id="listAllTeachers" resultType="Teacher">
        SELECT id id,account username,password password,teacher_name name,is_active beActive,email email FROM teacher
    </select>

    <!--根据ID修改某教师信息(邮箱)-->
    <update id="updateTeacherInfoByTeacher" parameterType="Teacher">
        UPDATE teacher SET email = #{email} WHERE id = #{id}
    </update>

    <!--重置某个教师的密码-->
    <update id="resetTeacherPasswordByTeacherID" parameterType="BigInteger">
        UPDATE teacher SET password = 123456 WHERE  id = #{teacherID}
    </update>

    <!--根据teacherID删除teacher表内信息-->
    <delete id="deleteTeacherByTeacherID" parameterType="BigInteger">
        DELETE FROM teacher WHERE id = #{teacherID}
    </delete>

    <!--激活某个教师的账号-->
    <update id="updateTeacherActiveByTeacher" parameterType="Teacher">
        UPDATE teacher SET is_active = 1,password = #{password},email = #{email}
        WHERE  id = #{id} AND is_active = 0
    </update>

    <!--返回上一条插入语句的ID-->
    <select id="getLastInsertID" resultType="BigInteger">
        SELECT LAST_INSERT_ID();
    </select>

    <!--根据教工号获取教师对象-->
    <select id="getTeacherByTeacherAccount" parameterType="String" resultType="Teacher">
        SELECT id id, account username, password password FROM teacher WHERE account = #{username}
    </select>

    <!--修改教师密码-->
    <update id="updateTeacherPassword" parameterType="User">
        UPDATE teacher SET password = #{password} WHERE id = #{id}
    </update>
</mapper>
