<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.xmu.crms.mapper.TeamMapper" >

    <!--获得参与展示小组的ID列表-->
    <select id="listAttendancesIDByKlassSeminarID" parameterType="BigInteger" resultType="BigInteger">
        SELECT id FROM attendance WHERE klass_seminar_id = #{klass_seminarID}
    </select>

    <!--根据参与展示小组的ID获得参与展示小组的对象-->
    <select id="getAttendanceByAttendanceID"  resultMap="attendanceResultMap" parameterType="BigInteger">
    SELECT * FROM attendance,team WHERE attendance.id = #{attendanceID} AND team.id=attendance.team_id
    </select>

    <!--获得参与展示小组的列表-->
    <select id="listAttendancesByKlassSeminarID" parameterType="BigInteger" resultMap="attendanceResultMap">
        SELECT * FROM attendance,team,klass WHERE attendance.klass_seminar_id=#{klass_seminarID} AND team.id=attendance.team_id AND team.klass_id=klass.id
    </select>
    <resultMap id="attendanceResultMap" type="Attendance">
        <id property="id" column="id"/>
        <result property="klassSeminarID" column="klass_seminar_id"/>
        <result property="teamOrder" column="team_order"/>
        <result property="bePresent" column="is_present"/>
        <result property="reportName" column="report_name"/>
        <result property="reportUrl" column="report_url"/>
        <result property="pptName" column="ppt_name"/>
        <result property="pptUrl" column="ppt_url"/>
        <association property="team" javaType="Team">
            <id property="id" column="team_id"/>
            <result property="teamName" column="team_name"/>
            <result property="teamSerial" column="team_serial"/>
            <result property="klassSerial" column="klass_serial"/>
            <result property="status" column="status"/>
        </association>
    </resultMap>

    <!--新建参与展示的小组-->
    <insert id="insertAttendance" parameterType="Attendance" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO attendance(klass_seminar_id,team_id,team_order,is_present)
        VALUES (#{klassSeminarID},#{teamID},#{teamOrder},0)
    </insert>

    <!--删除报名参与展示的小组-->
    <delete id="deleteAttendance" parameterType="BigInteger">
        DELETE FROM attendance WHERE id=#{attendanceID}
    </delete>

    <!--通过klass_seminarID和teamID获得参与展示的ID-->
    <select id="getAttendanceIDByKlass_SeminarIDAndTeamID" parameterType="BigInteger" resultType="BigInteger">
        SELECT id FROM attendance WHERE klass_seminar_id = #{param1} AND team_id=#{param2}
    </select>

    <!--根据studentID和klassID获取TeamID-->
    <select id="getTeamIDByStudentAndKlassID"  resultType="BigInteger" parameterType="BigInteger">
        SELECT klass_team.team_id FROM klass_team,team_student WHERE team_student.student_id = #{param1} AND klass_team.klass_id = #{param2} AND klass_team.team_id=team_student.team_id
    </select>


</mapper>
